<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="ru">
<head>
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<meta name="robots" content="all" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Главная" />
<meta name="keywords" content="Главная" />
<title>Дверная тема | {% block title %} Главная {% endblock %}</title>
<link href="/static/d/64379/t/v0/images/styles.css" rel="stylesheet" type="text/css" />

<link rel='stylesheet' type='text/css' href='/static/shared/highslide-4.1.13/highslide.min.css'/>
<!--[if IE 6]>
<link rel='stylesheet' type='text/css' href='/static/shared/highslide-4.1.13/highslide-ie6.css'/>
<![endif]-->
<!--[if lte IE 7 ]>
<link rel='stylesheet' type='text/css' href='/static/shared/highslide-4.1.13/style1_ie.css'/>
<![endif]-->

<script type='text/javascript' src='/static/shared/highslide-4.1.13/highslide.packed.js'></script>
<script type='text/javascript'>
hs.graphicsDir = '/static/shared/highslide-4.1.13/graphics/';
hs.outlineType = null;
hs.showCredits = false;
hs.lang={cssDirection:'ltr',loadingText:'Загрузка...',loadingTitle:'Кликните чтобы отменить',focusTitle:'Нажмите чтобы перенести вперёд',fullExpandTitle:'Увеличить',fullExpandText:'Полноэкранный',previousText:'Предыдущий',previousTitle:'Назад (стрелка влево)',nextText:'Далее',nextTitle:'Далее (стрелка вправо)',moveTitle:'Передвинуть',moveText:'Передвинуть',closeText:'Закрыть',closeTitle:'Закрыть (Esc)',resizeTitle:'Восстановить размер',playText:'Слайд-шоу',playTitle:'Слайд-шоу (пробел)',pauseText:'Пауза',pauseTitle:'Приостановить слайд-шоу (пробел)',number:'Изображение %1/%2',restoreTitle:'Нажмите чтобы посмотреть картинку, используйте мышь для перетаскивания. Используйте клавиши вперёд и назад'};</script>

<script type='text/javascript' src='/static/shared/flowplayer/flowplayer-3.2.9.min.js'></script>

<!-- 46b9544ffa2e5e73c3c971fe2ede35a5 -->
<link rel='stylesheet' type='text/css' href='/static/shared/s3/css/calendar.css' />
<script type='text/javascript' src='/static/shared/s3/js/lang/ru.js'></script>
<script type='text/javascript' src='/static/shared/s3/js/cookie.js'></script>
<script type='text/javascript' src='/static/shared/s3/js/widgets.js?v=7'></script>
<script type='text/javascript' src='/static/shared/s3/js/calendar.packed.js'></script>

<script type='text/javascript'>/*<![CDATA[*/
widgets.addOnloadEvent(function() {
    if (typeof jQuery == 'undefined') {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.src = '/shared/s3/js/jquery-1.7.2.min.js';
        document.body.appendChild(s);
    }
});
/*]]>*/
</script>


<script type="text/javascript"  src="/static/d/64379/t/v0/images/no_cookies.js"></script>
<script type="text/javascript" src="http://oml.ru/shared/s3/js/shop_pack_3.js"></script>
<script type="text/javascript" src="/static/d/64379/t/v0/images/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/static/d/64379/t/v0/images/shop_easing.js"></script>

<link href="/static/d/64379/t/v0/images/styles_shop.css" rel="stylesheet"  type="text/css" />

<script>
    function add_to_cart(id, count){
        $.post("/ajax/add_to_cart/", { 
            id: id,
            count: count,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        })
    }
    
    function recount_cart(id, count){
        console.log(id+ " - " + count);
        $.post("/ajax/recount_cart/", { 
            id: id,
            count: count,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        })
    }
    
    function delete_from_cart(id){
        $.post("/ajax/delete_from_cart/", { 
            id: id,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        })
    }
</script>

<script type="text/javascript">    
    hs.captionId = 'the-caption';
    hs.outlineType = 'rounded-white';
    window.onload = function() {
    hs.preloadImages(5);
    }
</script>

</head>
<body>
<div class="site-wrap1">
  <div class="site-wrap2">
    <div class="site-wrap3">
            <div class="site-header">
            
                <div id="cart">
                    <div class="tov">Товаров <span id="cart_total_amount">{{ cart_count }}</span> на сумму:</div>
                    <div class="sum"><span id="cart_total">{{ cart_sum }}</span> руб.</div>
                    <div class="zak"><a href="/cart/">Оформить заказ »</a></div>
                    <div class="added-to-cart" id="shop-added">Добавлено в корзину</div>
                </div>   
                          <div class="site-logo"><a href="/"><img src="/static/d/64379/t/v0/images/logo.png" alt="" /></a></div>
              <div class="tel-top">8(495) <span class="s1">943-29-49</span></div>
                                <div class="edit-mid">
                    <table class="mid-tab">
                      <tr>
                        <td class="mid-td3">&nbsp;</td>
                        <td class="mid-td2"><a href="/akcii-i-skidki"><img src="/static/d/64379/t/v0/images/top-pic1.png" alt="" /></a></td>
                        <td class="mid-td1">&nbsp;</td>
                        <td class="mid-td2"><a href="/category/9_premio-new/"><img src="/static/d/64379/t/v0/images/top-pic2.png" alt="" /></a></td>
                        <td class="mid-td1">&nbsp;</td>
                        <td class="mid-td4"><a href="/magaziny1"><img src="/static/d/64379/t/v0/images/top-pic3.png" alt="" /></a></td>
                      </tr>
                    </table>
        </div>
                <ul class="menu-top">
                                    <li {% if 'home' in request_url %} class="current" {% endif %}><a href="/" >Главная</a></li>
                                    <li {% if 'about' in request_url %} class="current" {% endif %} ><a href="/about" >О компании</a></li>
                                    <li {% if 'dostavka' in request_url %}{% if 'ustanovka' not in request_url %} class="current" {% endif %}{% endif %} ><a href="/dostavka" >Доставка</a></li>
                                    <li {% if 'stroitelyam_i_dizayneram' in request_url %} class="current" {% endif %} ><a href="/stroitelyam_i_dizayneram" >Строителям и дизайнерам</a></li>
                                    <li {% if 'ustanovka_zamer_i_dostavka' in request_url %} class="current" {% endif %} ><a href="/ustanovka_zamer_i_dostavka" >Служба сервиса</a></li>
                                    <li {% if 'contacts' in request_url %} class="current" {% endif %} ><a href="/contacts" >Контакты</a></li>
                                    <li {% if 'news' in request_url %} class="current" {% endif %} ><a href="/news" >Новости</a></li>
                                    <li {% if 'nashi-vystavki' in request_url %} class="current" {% endif %} ><a href="/nashi-vystavki" >ФОТОГАЛЕРЕЯ</a></li>
                                    <li {% if 'rasprodazha' in request_url %} class="current" {% endif %} ><a href="/rasprodazha" >РАСПРОДАЖА</a></li>
                                </ul>
            </div>
            <div class="site-content-wrap">
                <table class="site-content">
                    <tr>
                        <td class="site-content-left">
    {% load mptt_tags %}
    
    <ul class="left-menu">    
    {% for node in categories %}
        <li class="level-1"><a href="/category/{{ node.slug }}/"><span class="after"></span>{{ node.name }}</a></li>
        {% if not node.is_leaf_node %}
            {% for i in node.children.all %}
                <li class="level-2 {% if forloop.counter == 0 %} {% endif %}"><a href="/category/{{ i.slug }}/"><span class="after"></span>{{ i.name }}</a></li>
                {% if not i.is_leaf_node %}
                    {% for j in i.children.all %}
                        <li class="level-3 "><a  href="/category/{{ j.slug }}/">{{ j.name }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </ul>
                            
                        
                                                    </td>
                        <td class="site-content-middle">
                            
                            {% block content %}
                            {% endblock %}
                                
                        </td>             
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="clear-footer"></div>
<div class="wrap-left"></div>
<div class="wrap-right"></div>
</div>
<div class="site-footer-wrap1">
    <div class="site-footer-wrap2">
        <div class="site-footer">
            <div class="tel-bot">Телефон:<br /><span class="tel-bot-s1">8(495)</span> <span class="tel-bot-s2">943-29-49</span></div>
           
            <ul class="menu-bot">
                            <li><a href="/static/" >Главная</a></li>
                            <li><a href="/static/about" >О компании</a></li>
                            <li><a href="/static/dostavka" >Доставка</a></li>
                            <li><a href="/static/stroitelyam_i_dizayneram" >Строителям и дизайнерам</a></li>
                            <li><a href="/static/ustanovka,_zamer_i_dostavka" >Служба сервиса</a></li>
                            <li><a href="/static/contacts" >Контакты</a></li>
                            <li><a href="/static/news" >Новости</a></li>
                            <li><a href="/static/nashi-vystavki" >ФОТОГАЛЕРЕЯ</a></li>
                            <li><a href="/static/rasprodazha" >РАСПРОДАЖА</a></li>
                        </ul>
        </div>
    </div>
</div>
<!--a.sh-->
</body>
</html>