{% extends 'base.html' %}

{% block content %}
   
<div class="site-content-middle-in">
    <div class="block-title">Стальные двери</div> 
    <div class="block-wr">
        <div class="line-of-blocks">
            <table class="block-table">
                <tr>
                        <td>
                        <div class="logotip"><a href="/stalnyie-dveri/stardis/"><img src="/static/d/64379/d/stardis-logo.jpg" width="158" height="95" alt="блок для заполнения " /></a></div>
                        </td>
                        <td>
                        <div class="block-body"><p>"Стардис" - российская компания выпускающая стальные двери, сейфы и металлические шкафы, интерьерную и экстерьерную ковку. Производиство находится в городе Дзержинск Нижегородской области.&nbsp;<a href="/stardis_g_n-novgorod/">Подробнее о заводе- изготовителе....</a></p>
<p>&nbsp;</p></div>
                        </td>
                        <td>
                        <div class="forshow"><img src="/static/d/64379/d/stardis-pic.jpg" width="168" height="151" alt="блок для заполнения " /></div>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
    
    <div class="block-title">Межкомнатные двери</div> 
    <div class="block-wr">
                                                       <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/mezhkomnatnyie-dveri/aleksandrijskie-dveri/"><img src="/static/d/64379/d/alex-logo_1.jpg" width="158" height="95" alt=" Александрийские двери" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Фабрика &laquo;Александрийские двери&raquo; была создана в 1995 году. За долгие годы компания прошла путь от полукустарного небольшого предприятия, до крупного объединения нескольких компаний. &nbsp;Основной принцип компании &ndash; сочетание качества и долговечности. И действительно она стала одним из главных производителей межкомнатных дверей премиум-класса на территории России и стран СНГ. &nbsp;<a href="/aleksandriyskie_dveri/">Подробнее о компании...&nbsp;</a></p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/alex-pic.jpg" width="168" height="151" alt=" Александрийские двери" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/mezhkomnatnyie-dveri/rada-/"><img src="/static/d/64379/d/rada-logo_1.jpg" width="158" height="95" alt="&quot;Rada&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>&laquo;Рада&raquo; - это группа компаний, которая занимается деревообработкой 1996г. Благодаря профессиональному подходу к производству дверей, она является вполне достойным конкурентом ведущим деревообрабатывающим компаниям.&nbsp;<a href="/dveri-rada">Подробнее о компании...</a></p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/rada-pic.jpg" width="168" height="151" alt="&quot;Rada&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/mezhkomnatnyie-dveri/vipinterior/"><img src="/static/d/64379/d/vip-logo_1.jpg" width="158" height="95" alt="&quot;Vip interior&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Двери и другие изделия из массива ценных пород дерева. Существует множество производителей межкомнатных дверей, но особое место среди них занимает компания &laquo;VIP Интерьер&raquo;. Она предлагает высококачественные элитные межкомнатные двери из натуральных материалов. &nbsp;<a href="/vipinterior">О компании и продукции...</a></p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/vip-pic.jpg" width="168" height="151" alt="&quot;Vip interior&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/mezhkomnatnyie-dveri/stendor/"><img src="/static/d/64379/d/stendor-logo_1.jpg" width="158" height="95" alt="&quot;Стендор&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Компания&nbsp;Стендор Двери&nbsp;является одним из лидирующих производителей в России межкомнатных дверей. Компания осуществляет свою деятельность еще с 90-х годов, и за это время завоевала доверие большинства потребителей.&nbsp;<a href="/stendor-dveri">Подробнее...</a></p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/stendor-pic.jpg" width="168" height="151" alt="&quot;Стендор&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/mezhkomnatnyie-dveri/luidor-/"><img src="/static/d/64379/d/luidoor-logo_1.jpg" width="158" height="95" alt="&quot;Луидор&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Двери "Luidoor" &ndash; это безупречный вариант для тех, кто хочет воплотить в реальность оригинальные и нестандартные идеи. Даже в классической вариации дизайна двери смотрятся уже по-новому. Ведь между филенками овала включен орнамент, а сама фактура и цвет дверей продолжает удивлять своей строгостью и изысканностью.&nbsp;<a href="/dveri_luidor">Подробнее...</a><a href="/dveri_luidor"><br /></a></p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/luidoor-pic.jpg" width="168" height="151" alt="&quot;Луидор&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/mezhkomnatnyie-dveri/russkij-les/"><img src="/static/d/64379/d/rules-logo_1.jpg" width="158" height="95" alt="&quot;Русский Лес&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Двери &ndash; это не только конструктивный элемент жилища, а еще и предмет интерьера, который должен гармонировать со стилем вашего жилища и эту гармонию поможет вам создать компания ООО &laquo;Русский лес&raquo;. Двери &laquo;Русский лес&raquo;&nbsp;изготавливаются из экологически чистой, высококачественной древесины хвойных и лиственных пород. <a href="/russkiy-les">Подробнее...&nbsp;</a></p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/rules-pic.jpg" width="168" height="151" alt="&quot;Русский Лес&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/mezhkomnatnyie-dveri/viktoriya/"><img src="/static/d/64379/d/vika-logo_1.jpg" width="158" height="95" alt="&quot;Виктория&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Двери Виктория - замечательный выбор по доступной цене. Мы предлагаем вам большое разнообразие дверей, начиная с классики и заканчивая современным модерном. Коллекция дверей Виктория уже много лет пользуются спросом на рынке, так как зарекомендовали себя у покупателей как качественные, современные и надежные. <a href="/dveri_victoritya">Подробнее...</a></p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/vika-pic.jpg" width="168" height="151" alt="&quot;Виктория&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/mezhkomnatnyie-dveri/oniks/"><img src="/static/d/64379/d/onix-logo_1.jpg" width="158" height="95" alt="&quot;Оникс&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Фабрика межкомнатных дверей &laquo;Оникс&raquo; была основана в 1997 году в Подольске. И уже практически пятнадцать лет успешно выпускает высококачественную и экологически чистую продукцию. &laquo;Оникс&raquo; стала одной из самых популярных компаний-производителей межкомнатных дверей на территории России.&nbsp;<a href="/dveri_onyx">Подробнее</a></p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/onix-pic.jpg" width="168" height="151" alt="&quot;Оникс&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/mezhkomnatnyie-dveri/top-komplekt/"><img src="/static/d/64379/d/top-logo_1.jpg" width="158" height="95" alt="&quot;топ Комплект&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Мы рады, что Вы сделали правильный выбор, ведь, создав сайт, Ваша компания приобрела свое лицо в безграничном пространстве Интернет! Надеемся, что благодаря этому сайту Ваши потенциальные клиенты будут легко находить Вас в сети Интернет, и сайт в скором времени начнет приносить прибыль. <a href="#">Подробнее</a></p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/top-pic.jpg" width="168" height="151" alt="&quot;топ Комплект&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         </div>
                                                                                     <div class="block-title">Фурнитура</div> 
                             <div class="block-wr">
                                                       <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/furnitura/archi-ispaniya/"><img src="/static/d/64379/d/arch-logo.jpg" width="158" height="95" alt="&quot;Арчи&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Мы рады, что Вы сделали правильный выбор, ведь, создав сайт, Ваша компания приобрела свое лицо в безграничном пространстве Интернет! Надеемся, что благодаря этому сайту Ваши потенциальные клиенты будут легко находить Вас в сети Интернет, и сайт в скором времени начнет приносить прибыль.</p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/arch-pic.jpg" width="168" height="151" alt="&quot;Арчи&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/furnitura/zambrotto--italiya/"><img src="/static/d/64379/d/sillur-logo.jpg" width="158" height="95" alt="&quot;Замбротто&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Мы рады, что Вы сделали правильный выбор, ведь, создав сайт, Ваша компания приобрела свое лицо в безграничном пространстве Интернет! Надеемся, что благодаря этому сайту Ваши потенциальные клиенты будут легко находить Вас в сети Интернет, и сайт в скором времени начнет приносить прибыль.</p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/sillur-pic.jpg" width="168" height="151" alt="&quot;Замбротто&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
                            </div>
                                                         </div>
                                                                                     <div class="block-title">Арки</div> 
                             <div class="block-wr">
                                                       <div class="line-of-blocks">
                            <table  class="block-table">
                                <tr>
                                        <td>
                                        <div class="logotip"><a href="/arki/hart-kompani/"><img src="/static/d/64379/d/hart-logo.jpg" width="158" height="95" alt="&quot;Харт компани&quot;" /></a></div>
                                        </td>
                                        <td>
                                        <div class="block-body"><p>Мы рады, что Вы сделали правильный выбор, ведь, создав сайт, Ваша компания приобрела свое лицо в безграничном пространстве Интернет! Надеемся, что благодаря этому сайту Ваши потенциальные клиенты будут легко находить Вас в сети Интернет, и сайт в скором времени начнет приносить прибыль.</p></div>
                                        </td>
                                        <td>
                                        <div class="forshow"><img src="/static/d/64379/d/harct-pic.jpg" width="168" height="151" alt="&quot;Харт компани&quot;" /></div>
                                        </td>
                                    </tr>
                            </table>
        </div>
    </div>
</div>
{% endblock %}