{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} {{ item.name }} {% endblock %}

{% block content %}
    <h1>Оформить заказ</h1>
    <div class="site-content-middle-in">
        <div class="shop-path">
            <a href="#">Оформить заказ</a> &raquo; 
            {% for t in titles %}
                <a href="/{{ t.slug }}/">{{ t.name }}</a> &raquo; 
            {% endfor %}
            
        </div>

        <h2 class="shop-product-title">{{ item.name }}</h2>

        <div id="tovar_card"> 
            {% if item.image %}
                {% thumbnail item.image "x150" as im %}
                    <a class="highslide" href="/media/{{ item.image }}" onclick="return hs.expand(this)"> 
                        <img src="/static/images/fr_5.gif" width="180" height="160" style="background:url({{ im.url }})
                50% 50% no-repeat scroll;" alt="{{ item.name }}"/> 
                    </a>
                {% endthumbnail %}
            {% else %}
                <a class="highslide" href="/static/d/64379/t/v0/images/noimage.jpg" onclick="return hs.expand(this)"> 
                    <img src="/static/images/fr_5.gif" width="180" height="160" style="background:url(/static/d/64379/t/v0/images/noimage.jpg) 50% 50% no-repeat scroll;" alt="{{ i.name }}"/> 
                </a>
            {% endif %}
            
            <div style="display:block; height:70px">
                {% if item.is_novelty %}
                    <ul id="a_list">
                        <li class="new">Новинка!</li>
                    </ul>
                {% endif %}
                
                <ul id="p_list">
                    <li>Артикул: <span>{{ item.art }}</span></li>
                    <li>Производитель: <a href="/vendor/{{ item.producer.slug }}/">{{ item.producer.name }}</a></li>
                </ul>
            </div>
        

           
            <div class="form_wrap">
                <form onsubmit="add_to_cart({{ item.id }}, $(this).find('.number').val()); return addProductForm(10633,440241003,{{ item.price|stringformat:".f" }}.00,this,false);">
                    {% csrf_token %}
                    <ul class="bform">
                        <li class="buy">
                            <input type="submit" value="" />
                        </li>
                        <li>Кол-во:<br />
                            <input class="number" type="text" onclick="this.select()" size="" value="1" name="product_amount">
                        </li>
                        <li class="price">Цена:<br />
                        <span><b>{{ item.price }}</b> руб.</span></li>
                    </ul>
                </form>
            </div>
           
        </div>
        
        <div id="tovar_detail">
            <h1>{{ item.name }}</h1>
            <p class="descript">{{ item.description }}</p>
            
            <div class="full">
                {{ item.text|safe }}
            </div>
            
            <br />
            {% for t in titles %}
                <a href="/{{ t.slug }}/">{{ t.name }}</a> |
            {% endfor %}
            
            <p><a href="javascript:history.go(-1)">&laquo; Назад</a></p>
        </div>

    </div>
 
{% endblock %}